= form_for @user do |f|
  .form-group
    = f.label "Business Type"
    = f.select(:business_type, options_for_select(['LLC','S Corp', 'C Corp']))
  .form-group
    = f.label "City"
    = f.text_field :city
  .form-group
    = f.label "State"
    = f.text_field :state
  .form-group
    = f.label "Task"
    = f.select(:task, options_for_select(['Move','Taxes']))
  = f.submit "Find Forms"


/     .col-md-10
/       .col-md-1.title  From:
/       .col-md-5
/         #locationField
/           %input#autocomplete{:onfocus => "geolocate()", :placeholder => "old address", :type => "text", class: "text-input"}
/         %table#addressone
/           %tr
/             %td
/               = f.text_field :from_address_street_number, :hidden => true, id: "street_number"
/             %td
/               = f.text_field :from_address_street_name, :hidden => true, id: "route"
/             %td
/               = f.text_field :from_address_city, :hidden => true, id: "locality"
/             %td
/             = f.text_field :from_address_state, :hidden => true, id: "administrative_area_level_1"
/             %td
/               = f.text_field :from_address_zip, :hidden => true, id: "postal_code"
/             %td
/               %input#country{:hidden => true}

/       .col-md-1.title To:
/       .col-md-5
/         #locationField2
/           %input#autocomplete2{:onfocus => "geolocate()", :placeholder => "new address", :type => "text", class: "text-input"}
/         %table#addresstwo
/           %tr
/             %td
/               = f.text_field :to_address_street_number, :hidden => true, id: "street_number2"
/             %td
/               = f.text_field :to_address_street_name, :hidden => true, id: "route2"
/             %td
/               = f.text_field :to_address_city, :hidden => true, id: "locality2"
/             %td
/             = f.text_field :to_address_state, :hidden => true, id: "administrative_area_level_12"
/             %td
/               = f.text_field :to_address_zip, :hidden => true, id: "postal_code2"
/             %td
/               %input#country2{:hidden => true}
/     .col-md-2.form-padding= f.submit "Get Started", class: "btn-1", :onclick => "ga_event('Landing')"







/ %form
/   .form-group
/     %label{:for => "exampleInputEmail1"} Email address
/     %input#exampleInputEmail1.form-control{"aria-describedby" => "emailHelp", :placeholder => "Enter email", :type => "email"}/
/     %small#emailHelp.form-text.text-muted We'll never share your email with anyone else.
/   .form-group
/     %label{:for => "exampleInputPassword1"} Password
/     %input#exampleInputPassword1.form-control{:placeholder => "Password", :type => "password"}/
/   .form-group
/     %label{:for => "exampleSelect1"} Example select
/     %select#exampleSelect1.form-control
/       %option 1
/       %option 2
/       %option 3
/       %option 4
/       %option 5
/   .form-group
/     %label{:for => "exampleSelect2"} Example multiple select
/     %select#exampleSelect2.form-control{:multiple => "multiple"}
/       %option 1
/       %option 2
/       %option 3
/       %option 4
/       %option 5
/   .form-group
/     %label{:for => "exampleTextarea"} Example textarea
/     %textarea#exampleTextarea.form-control{:rows => "3"}
/   .form-group
/     %label{:for => "exampleInputFile"} File input
/     %input#exampleInputFile.form-control-file{"aria-describedby" => "fileHelp", :type => "file"}/
/     %small#fileHelp.form-text.text-muted This is some placeholder block-level help text for the above input. It's a bit lighter and easily wraps to a new line.
/   %fieldset.form-group
/     %legend Radio buttons
/     .form-check
/       %label.form-check-label
/         %input#optionsRadios1.form-check-input{:checked => "checked", :name => "optionsRadios", :type => "radio", :value => "option1"}/
/         Option one is this and that—be sure to include why it's great
/     .form-check
/       %label.form-check-label
/         %input#optionsRadios2.form-check-input{:name => "optionsRadios", :type => "radio", :value => "option2"}/
/         Option two can be something else and selecting it will deselect option one
/     .form-check.disabled
/       %label.form-check-label
/         %input#optionsRadios3.form-check-input{:disabled => "disabled", :name => "optionsRadios", :type => "radio", :value => "option3"}/
/         Option three is disabled
/   .form-check
/     %label.form-check-label
/       %input.form-check-input{:type => "checkbox"}/
/       Check me out
/   %button.btn.btn-primary{:type => "submit"} Submit
