.user-show
  .container
    .col-xs-12
      %h2= "Your #{@user.task} Forms for your #{@user.city}, #{@user.state} #{@user.entity}."
      - @user.forms.each do |form|
        .form-thumb
          = image_tag(form.thumbnail)
          %h3= form.document
          = link_to "Learn More", {:controller => "forms", :action => "show", :id => form.id}


