.user-show
  .hero-strip
    .container
      .col-xs-6
        %h1= "Your #{@action} Forms for an #{@user.entity} in #{@user.city}, #{@user.state}."
  .container
    .form-deliver
      - @user.forms.each do |form|
        .col-lg-4.col-md-6.col-xs-12
          = link_to form do
            .col-xs-12.gray-box
              .col-xs-10.col-xs-offset-1
                %h2= form.document
              .col-xs-10.col-xs-offset-1.document-white-bg
                = image_tag(form.thumbnail)
              .col-xs-10.col-xs-offset-1.learn-more-arrow
                .fa.fa-download
                .fa.fa-arrow-right
