%h2= @form.id
%h2= @form.location
%h2= @form.state
%h2= @form.entity
%h2= @form.action
%h2= @form.thumbnail
%h2= @form.name
%h2= @form.document
%h2= @form.department

%p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et provident fugit placeat, perferendis quibusdam atque praesentium quos obcaecati ea ratione deleniti assumenda doloribus, libero minima ullam facere iusto inventore aut! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et provident fugit placeat, perferendis quibusdam atque praesentium quos obcaecati ea ratione deleniti assumenda doloribus, libero minima ullam facere iusto inventore aut! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et provident fugit placeat, perferendis quibusdam atque praesentium quos obcaecati ea ratione deleniti assumenda doloribus, libero minima ullam facere iusto inventore aut! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et provident fugit placeat, perferendis quibusdam atque praesentium quos obcaecati ea ratione deleniti assumenda doloribus, libero minima ullam facere iusto inventore aut!
